{% extends "base.html" %}
{% block title %}식단{% endblock title %}
{% block content %}
<h1>아침</h1>
{% if breakfast_meal %}
  <p>밥 : {{ breakfast_meal.rice.name }}</p>
  <p>국 : {{ breakfast_meal.soup.name }}</p>
  {% for side_dish in breakfast_meal.side_dish_set.all %}
    <p>반찬 : {{ side_dish.name }}</p>
  {% endfor %}
{% endif %}
<h1>점심</h1>
{% if lunch_meal %}
  <p>밥 : {{ lunch_meal.rice.name }}</p>
  <p>국 : {{ lunch_meal.soup.name }}</p>
  {% for side_dish in lunch_meal.side_dish_set.all %}
    <p>반찬 : {{ side_dish.name }}</p>
  {% endfor %}
{% endif %}
<h1>저녁</h1>
{% if dinner_meal %}
  <p>밥 : {{ dinner_meal.rice.name }}</p>
  <p>국 : {{ dinner_meal.soup.name }}</p>
  {% for side_dish in dinner_meal.side_dish_set.all %}
    <p>반찬 : {{ side_dish.name }}</p>
  {% endfor %}
{% endif %}
{% endblock content %}
