{% extends "base.html" %}
{% block title %}식단 검색 결과{% endblock title %}
{% block content %}
    {% for date in date_set %}
        <div class="container text-center" style="margin-top:120px; margin-bottom: 200px;">
            <div class="col-md-8 col-md-offset-2">
            <a href="{% url "date:detail" year=date.date.year month=date.date.month day=date.date.day %}">
            <h1>{{ date.date_to_str }} 식단</h1></a>
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                    <th class="text-center"><h4>아침</h4></th>
                    <th class="text-center"><h4>점심</h4></th>
                    <th class="text-center"><h4>저녁</h4></th>
                    </thead>
                    <tr>
                        <td>
                            {% if breakfast_meal %}
                                <p>{{ date.breakfast_meal.rice.name }}</p>
                                <p>{{ date.breakfast_meal.soup.name }}</p>
                                {% for side_dish in breakfast_meal.side_dish_set.all %}
                                    <p>{{ side_dish.name }}</p>
                                {% endfor %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:update" year=year month=month day=day meal_id=breakfast_meal.id %}">수정하기</a>
                                    <a href="{% url "date:meal:delete" year=year month=month day=day meal_id=breakfast_meal.id %}">삭제하기</a>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:create_breakfast" year=year month=month day=day %}">생성하기</a>
                                {% endif %}
                            {% endif %}
                        </td>

                        <td>
                            {% if lunch_meal %}
                                <p>{{ date.lunch_meal.rice.name }}</p>
                                <p>{{ date.lunch_meal.soup.name }}</p>
                                {% for side_dish in lunch_meal.side_dish_set.all %}
                                    <p>{{ side_dish.name }}</p>
                                {% endfor %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:update" year=year month=month day=day meal_id=lunch_meal.id %}">수정하기</a>
                                    <a href="{% url "date:meal:delete" year=year month=month day=day meal_id=lunch_meal.id %}">삭제하기</a>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:create_lunch" year=year month=month day=day %}">생성하기</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if dinner_meal %}
                                <p>{{ date.dinner_meal.rice.name }}</p>
                                <p>{{ date.dinner_meal.soup.name }}</p>
                                {% for side_dish in dinner_meal.side_dish_set.all %}
                                    <p>{{ side_dish.name }}</p>
                                {% endfor %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:update" year=year month=month day=day meal_id=dinner_meal.id %}">수정하기</a>
                                    <a href="{% url "date:meal:delete" year=year month=month day=day meal_id=dinner_meal.id %}">삭제하기</a>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_staff %}
                                    <a href="{% url "date:meal:create_dinner" year=year month=month day=day %}">생성하기</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
