{% extends "base.html" %}
{% block title %}음식 상세정보{% endblock title %}
{% block content %}

    <div style="padding-top:70px">

    </div>
    <div id="detail" class="container" style="padding-bottom:200px; padding-top:150px;">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img style="max-width:100%;" src="{{ food.image_url }}" alt="">
            </div>

            <h3>{{ food.name }}
                {% if request.user.is_staff %}
                <span id="edit" class="label label-success"><a style="color:white"
                                                     href="{% url "food:edit" pk=food.id %}">수정</a></span>
                <span id="delete" class="label label-danger"><a style="color:white"
                                                    href="{% url "food:delete" pk=food.id %}">삭제</a>
                </span>
                {% endif %}
            </h3>
            <hr/>

            <h4 id="cal" data-calorie="{{ food.calorie }}">
                칼로리 : {{ food.calorie }}
            </h4>
            <h4 id="origin">
                원산지 : {{ food.origin }}
            </h4>
        </div>
    </div>
    <div style="padding-bottom:100px;">

    </div>

{% endblock content %}

{% block javacript %}
    <script>
        $(document).ready(function () {
            var cal = $('#cal').data("calorie");

            if (cal >= 400){
                 $('#detail').css('background-color', '#F31347');
                 $('#delete').css('background-color', '#E8E861');
            }
            else if (cal >= 300){
                $('#detail').css('background-color', '#E8E861');
            }
            else{
                $('#detail').css('background-color', '#3EC943');
                $('#edit').css('background-color', '#E8E861');
            }
        });
    </script>
{% endblock %}
