{% extends "base.html" %}
{% block title %}전체 음식{% endblock title %}
{% block content %}
    <div class="row ">

        <div class="col-lg-5 col-lg-offset-3">
            <div class="col-lg-offset-5">
                <h1 class="center-block">음식 리스트</h1>
                <div class="col-lg-offset-7">
                    <a href="{% url 'food:new' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            {% for food in foods %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="{{ food.image_url }}"
                             style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{% url 'food:detail' pk=food.id %}">{{ food.name }}</a>
                            <small> {% if food.food_type == 1 %}
                                주식
                            {% elif food.food_type == 2 %}
                                국
                            {% elif food.food_type == 3 %}
                                반찬
                            {% elif food.food_type == 4 %}
                                디저트
                            {% endif %}</small>
                        </h4>
                        <h5>맛있게 먹으면 0칼로리 from <a href="/">Health Meal</a></h5>
                        <hr style="margin:8px auto">
                        {% if request.user.is_staff %}

                            <span class="label label-success"><a style="color:white"
                                                                 href="{% url "food:edit" pk=food.id %}">수정</a></span>
                            <span class="label label-danger"><a style="color:white"
                                                                href="{% url "food:delete" pk=food.id %}">삭제</a></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <br/>

            <div class="col-lg-offset-7">
    <span class="center-block">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <span class="glyphicon glyphicon-chevron-left" style="font-size:1.3em;"></span>
            </a>
        {% endif %}

        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <span class="glyphicon glyphicon-chevron-right" style="font-size:1.3em;"></span>
            </a>
        {% endif %}
    </span>
            </div>
        </div>
    </div>

{% endblock content %}

