{% extends "base.html" %}
{% block title %}음식 생성{% endblock title %}
{% block content %}
<form action="{% url "food:create" %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="">이미지</label>
  <input type="file" name="image">
  <label for="">이름</label>
  <input type="text" name="name">
  <label for="">칼로리</label>
  <input type="number" name="calorie" min=0>
  <label for="">원산지</label>
  <input type="text" name="origin">
  <br>
  <input type="radio" name="food_type" value="1" checked>밥<br>
  <input type="radio" name="food_type" value="2" >국<br>
  <input type="radio" name="food_type" value="3" >반찬<br>
  <input type="radio" name="food_type" value="4" >디저트<br>
  <input type="submit" value="저장" />
</form>
{% endblock content %}
